Xft.dpi: 140
!
! Colors
*.foreground:  #ffffff
*.background:  #182b3a
*.cursorColor: #f1c423
!
! Black
*.color0:      #000000
*.color8:      #555555
!
! Red
*.color1:      #ff0000
*.color9:      #ff638a
!
! Green
*.color2:      #38de21
*.color10:     #41d720
!
! Yellow
*.color3:      #ffe50a
*.color11:     #fec51e
!
! Blue
*.color4:      #1460d2
*.color12:     #0186fd
!
! Magenta
*.color5:      #ff005d
*.color13:     #fa95ff
!
! Cyan
*.color6:      #00bbbb
*.color14:     #7cfcfd
!
! White
*.color7:      #ffffff
*.color15:     #bbbbbb
!
! Bold, Italic, Underline
*.colorBD:     #f7fcff
!*.colorIT:
!*.colorUL:
!
urxvt.scrollBar:       false
urxvt.perl-ext-common: font-size,vtwheel
urxvt.keysym.C-Up:     perl:font-size:increase
urxvt.keysym.C-Down:   perl:font-size:decrease
urxvt.keysym.C-S-Up:   perl:font-size:incglobal
urxvt.keysym.C-S-Down: perl:font-size:decglobal
urxvt.font:            xft:mononoki Nerd Font Mono:size=11
urxvt.boldFont:        xft:mononoki Nerd Font Mono:size=11
